.openQuestion {
    background: white;
    margin-top: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.writeHereTitle{
    font-weight: bold;
    padding: 1em;
}

.questionInput{
    width: 100%;
   height: 5vh;
   border: none;
   background: #e9e7e7;
   box-shadow: 2px 2px 2px #a8a7a7 inset;
   text-align: right;
   direction: rtl;
}

.questionButtonContainer{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.deleteQuestionButton{
    margin:1em;
    padding:0.5em;
}

.selectKindOfQuestion{
    text-align: center;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    /* width: 2em;
    height: 2em; */
    border: none;
    background: #e9e7e7;
    width: 30%;
    height: 15%;
    font-size: 0.5em;
    margin-top: 1em;
    margin-left: 0;
    padding: 0.5em;
}