.login{
    width: 385px;
    background: #e8eaec;
    box-shadow:
    7px 7px 15px #45566754,
    -8px -8px 15px rgb(81 101 121 / 4%),
    inset -5px -4px 13px 0px rgb(81 101 121 / 35%),
    inset 6px 7px 12px 0px rgb(255 255 255 / 94%);
    border-radius: 32px;
    padding: 60px 45px;
    margin-top: 45px;
}

.login .inputField {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.login .title {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color:#000;
}

.userName, .email {
    height: 100%;
    width: 100%;
    padding-right: 20px;
    font-size: 18px;
    text-align: right;
    outline: none !important;
    border: none;
    background: #e8eaec;
    box-shadow: 
    inset 4px 4px 8px rgb(189 200 213),
    inset -4px -4px 8px rgb(255 255 255);
    border-radius: 25px;
}

.email{
    margin-top: 10px;
}

.userName:focus {
    box-shadow: 
    4px 4px 8px rgb(189 200 213),
    -4px -4px 8px rgb(255 255 255);
}

.email:focus {
    box-shadow: 
    4px 4px 8px rgb(189 200 213),
    -4px -4px 8px rgb(255 255 255);
}

.inputField {
    display: flex;
    align-items: center;
}

.inputField .icon {
    position:absolute;
    width: 50px;
    color: rgb(119 119 119);
    font-size: 22px;
}

.registerButton{
    margin-top: 30px;
    width: 80%;
    height: 45px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    background: #e8eaec;
    border:none;
    outline: none;
    cursor: pinter;
    box-shadow: 
    4px 4px 8px rgb(189 200 213),
    -4px -4px 8px rgb(255 255 255);
    border-radius: 25px;
}

.registerButton:focus{
    color:#ff6100;
    box-shadow: 
    inset 4px 4px 8px rgb(189 200 213),
    inset -4px -4px 8px rgb(255 255 255);
}

.smallTitle{
    font-size: 14px;
    color: rab(119 119 119);
    margin: 16px 0 16px 0;
}

.signInBox{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.loginButton{
    color: orange;
    border: none;
    background: none;
    font-size: 14px;
    font-weight:600;
}

.errorMessage {
    color:#ff6100;
}